n8n-workflows/viral-content-machine-phase1.json
{
  "name": "Viral Content Machine - Phase 1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "name": "Daily Trigger - 8 AM CST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notesInFlow": true,
      "notes": "Runs every day at 8:00 AM CST to start the content generation process"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/entrepreneur/hot/.rss",
        "options": {
          "limit": 10
        }
      },
      "name": "Reddit Entrepreneur Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [450, 200],
      "notesInFlow": true,
      "notes": "Monitors r/entrepreneur for trending business content"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/smallbusiness/hot/.rss",
        "options": {
          "limit": 5
        }
      },
      "name": "Reddit Small Business Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [450, 300],
      "notesInFlow": true,
      "notes": "Monitors r/smallbusiness for relevant content"
    },
    {
      "parameters": {
        "url": "https://www.entrepreneur.com/latest.rss",
        "options": {
          "limit": 5
        }
      },
      "name": "Entrepreneur Magazine Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [450, 400],
      "notesInFlow": true,
      "notes": "Latest entrepreneurship trends and news"
    },
    {
      "parameters": {
        "url": "https://tulsaworld.com/business/rss.xml",
        "options": {
          "limit": 5
        }
      },
      "name": "Tulsa Business News Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [450, 500],
      "notesInFlow": true,
      "notes": "Local Tulsa business news for local angle"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "name": "Merge All Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [650, 350],
      "notesInFlow": true,
      "notes": "Combines all RSS feeds into single stream for analysis"
    },
    {
      "parameters": {
        "jsCode": "// AI Content Analyzer - Scores viral potential and relevance\n\nconst items = $input.all();\nconst scoredItems = [];\n\n// Keywords for Adam James's niches\nconst nicheKeywords = {\n  entrepreneurship: ['entrepreneur', 'startup', 'business', 'founder', 'small business', 'growth'],\n  mentalHealth: ['mental health', 'therapy', 'wellness', 'support', 'counseling'],\n  corporateHousing: ['remote work', 'housing', 'corporate housing', 'relocation', 'work from home'],\n  tulsa: ['tulsa', 'oklahoma', 'small city', 'midwest'],\n  ai: ['ai', 'artificial intelligence', 'automation', 'technology']\n};\n\n// Score each item\nfor (const item of items) {\n  const title = (item.json.title || '').toLowerCase();\n  const description = (item.json.description || '').toLowerCase();\n  const content = title + ' ' + description;\n  \n  let score = 0;\n  let matchedNiches = [];\n  \n  // Check for niche relevance\n  for (const [niche, keywords] of Object.entries(nicheKeywords)) {\n    for (const keyword of keywords) {\n      if (content.includes(keyword)) {\n        score += 10;\n        if (!matchedNiches.includes(niche)) {\n          matchedNiches.push(niche);\n        }\n      }\n    }\n  }\n  \n  // Bonus for multiple niche matches\n  if (matchedNiches.length > 1) {\n    score += 20;\n  }\n  \n  // Bonus for Tulsa mentions\n  if (content.includes('tulsa') || content.includes('oklahoma')) {\n    score += 30;\n  }\n  \n  // Bonus for actionable content\n  if (content.includes('how to') || content.includes('tips') || content.includes('guide')) {\n    score += 15;\n  }\n  \n  // Store scored item\n  if (score > 20) { // Only keep relevant items\n    scoredItems.push({\n      json: {\n        ...item.json,\n        viralityScore: score,\n        matchedNiches: matchedNiches,\n        relevanceReason: `Matches niches: ${matchedNiches.join(', ')}`\n      }\n    });\n  }\n}\n\n// Sort by score and take top 3\nconst topItems = scoredItems\n  .sort((a, b) => b.json.viralityScore - a.json.viralityScore)\n  .slice(0, 3);\n\nreturn topItems;"
      },
      "name": "AI Content Analyzer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 350],
      "notesInFlow": true,
      "notes": "Analyzes and scores content for relevance to Adam James's businesses"
    },
    {
      "parameters": {
        "jsCode": "// Script Generator - Creates 30-second Reel scripts\n\nconst items = $input.all();\nconst scripts = [];\n\nfor (const item of items) {\n  const title = item.json.title;\n  const niches = item.json.matchedNiches || [];\n  const score = item.json.viralityScore;\n  \n  // Generate hook based on topic\n  let hook = \"You won't believe what I discovered about \";\n  if (niches.includes('entrepreneurship')) {\n    hook = \"Everyone told me I was crazy for \";\n  } else if (niches.includes('mentalHealth')) {\n    hook = \"Here's the truth about mental health that nobody talks about \";\n  } else if (niches.includes('corporateHousing')) {\n    hook = \"The future of work just changed everything \";\n  }\n  \n  // Create full script\n  const script = {\n    json: {\n      originalTopic: title,\n      viralityScore: score,\n      adamJamesAngle: `As a Tulsa entrepreneur running 3 businesses, here's my take on ${title}`,\n      \n      // 30-second Reel Script\n      reelScript: {\n        hook: `${hook}[relate to ${title}]... (0-3 seconds)`,\n        problem: `Most people think [common belief]. But here's what they're missing... (4-10 seconds)`,\n        solution: `In Tulsa, I learned 3 things running my businesses:\\n1. [Insight related to ${niches[0] || 'business'}]\\n2. [Insight related to community]\\n3. [Insight related to growth] (11-20 seconds)`,\n        proof: `Today, through Integrity Corporate Housing, Safe Harbor Mental Health, and GrowthGenix.ai, we've served 1,500+ families. All from Tulsa, Oklahoma. (21-27 seconds)`,\n        cta: `What's your experience with this? Drop a comment below 👇 (28-30 seconds)`\n      },\n      \n      // On-screen text suggestions\n      onScreenText: [\n        { time: \"0-3s\", text: hook },\n        { time: \"11-15s\", text: \"3 Key Insights\" },\n        { time: \"21-25s\", text: \"1,500+ families served\" },\n        { time: \"28-30s\", text: \"adamjamestulsa.com\" }\n      ],\n      \n      // Filming instructions\n      filming: {\n        location: \"Your office with professional background\",\n        outfit: \"Business casual - button-down shirt, no tie\",\n        camera: \"Phone on tripod at eye level, vertical (9:16)\",\n        lighting: \"Natural window light from side OR ring light\",\n        props: \"Laptop visible on desk, coffee cup (optional)\",\n        duration: \"Film 2-3 takes, pick best one\",\n        estimatedTime: \"10-15 minutes total\"\n      },\n      \n      // Platform-specific captions\n      captions: {\n        facebook: `${title} - A Tulsa Perspective 🏆\\n\\nAs an entrepreneur running 3 businesses in Tulsa, I've learned that [key insight].\\n\\nHere's what most people miss:\\n✅ [Point 1]\\n✅ [Point 2]\\n✅ [Point 3]\\n\\nToday: Integrity Corporate Housing, Safe Harbor Mental Health, and GrowthGenix.ai serve 1,500+ families across Tulsa.\\n\\nWhat's your take? Drop it below! 👇\\n\\n#AdamJamesTulsa #TulsaEntrepreneur #${niches[0] || 'Business'}`,\n        \n        instagram: `Same as Facebook +\\n\\n#TulsaOK #Entrepreneurship #SmallBusiness #StartupLife #BusinessOwner #SuccessStory #MotivationMonday #EntrepreneurLife #TulsaBusiness #OklahomaBusiness #SmallCityLife #BusinessGrowth #StartupSuccess #EntrepreneurMindset #BuildInPublic #LocationIndependent #RemoteWork #DigitalNomad #BusinessStrategy #ScaleYourBusiness #AdamJames #TulsaEntrepreneur #MentalHealthMatters #CorporateHousing #AIBusiness`,\n        \n        tiktok: `${title.substring(0, 100)} 🏆 Building from Tulsa, OK! What's your experience? #TulsaEntrepreneur #SmallCityBigDreams #BusinessOwner #Entrepreneur`,\n        \n        linkedin: `${title}\\n\\nAs a Tulsa entrepreneur, I've had a unique vantage point on [topic].\\n\\nRunning three distinct businesses—Integrity Corporate Housing, Safe Harbor Mental Health, and GrowthGenix.ai—has taught me that [key insight].\\n\\nHere's what I've learned:\\n\\n1. [Detailed point 1]\\n2. [Detailed point 2]\\n3. [Detailed point 3]\\n\\nThe result? We've been able to serve over 1,500 families right here in Tulsa, proving that you don't need to be in a major metropolitan area to make a meaningful impact.\\n\\nWhat's been your experience with [topic]? I'd love to hear your perspective in the comments.\\n\\n#Entrepreneurship #TulsaBusiness #SmallBusiness #BusinessGrowth`\n      },\n      \n      // SEO Blog post outline\n      blogPost: {\n        title: `${title}: A Tulsa Entrepreneur's Perspective`,\n        metaDescription: `Adam James, Tulsa entrepreneur and founder of 3 businesses, shares insights on ${title}. Learn how local perspective drives success.`,\n        keywords: ['Adam James Tulsa', 'Tulsa entrepreneur', title.toLowerCase()],\n        outline: [\n          'Introduction: Why This Matters to Tulsa Entrepreneurs',\n          'The Common Misconception About [Topic]',\n          'What I Learned Running 3 Businesses in Tulsa',\n          'Practical Application: How You Can Use This',\n          'Conclusion: The Tulsa Advantage',\n          'About Adam James and His Tulsa Businesses'\n        ],\n        wordCount: '1000-1200 words',\n        internalLinks: [\n          '/about - Adam James Story',\n          '/businesses/integrity-corporate-housing',\n          '/businesses/safe-harbor-mental-health',\n          '/businesses/growthgenix-ai'\n        ]\n      }\n    }\n  };\n  \n  scripts.push(script);\n}\n\nreturn scripts;"
      },
      "name": "Reel Script Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 350],
      "notesInFlow": true,
      "notes": "Generates complete Reel scripts with Adam James angle"
    },
    {
      "parameters": {
        "jsCode": "// Email Formatter - Creates beautiful HTML email\n\nconst items = $input.all();\nconst today = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nlet emailHTML = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 800px; margin: 0 auto; padding: 20px; background-color: #f4f4f4; }\n    .container { background: white; padding: 30px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 8px; margin-bottom: 30px; }\n    .topic { background: #f8f9fa; padding: 20px; border-left: 4px solid #667eea; margin: 20px 0; border-radius: 4px; }\n    .script { background: #e3f2fd; padding: 15px; border-radius: 6px; margin: 15px 0; font-family: monospace; }\n    .filming { background: #fff3e0; padding: 15px; border-radius: 6px; margin: 15px 0; }\n    .caption { background: #f1f8e9; padding: 15px; border-radius: 6px; margin: 10px 0; }\n    .score { display: inline-block; background: #4caf50; color: white; padding: 5px 15px; border-radius: 20px; font-weight: bold; }\n    h2 { color: #667eea; }\n    .emoji { font-size: 24px; }\n    .checklist { background: #fff; padding: 15px; border: 2px dashed #667eea; border-radius: 6px; margin: 20px 0; }\n    .cta { background: #667eea; color: white; padding: 15px 30px; text-align: center; border-radius: 8px; font-weight: bold; text-decoration: none; display: inline-block; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🎯 YOUR VIRAL CONTENT FOR TODAY</h1>\n      <p>${today}</p>\n      <p>Good morning Adam! Here are your top 3 viral opportunities based on trending content RIGHT NOW.</p>\n    </div>\n`;\n\n// Add each topic\nitems.forEach((item, index) => {\n  const data = item.json;\n  emailHTML += `\n    <div class=\"topic\">\n      <h2><span class=\"emoji\">🔥</span> TRENDING TOPIC #${index + 1}: ${data.originalTopic}</h2>\n      <p><strong>Virality Score:</strong> <span class=\"score\">${data.viralityScore}/100</span></p>\n      <p><strong>Your Angle:</strong> ${data.adamJamesAngle}</p>\n      \n      <h3>📱 YOUR 30-SECOND REEL SCRIPT</h3>\n      <p><em>Read this exactly as written:</em></p>\n      \n      <div class=\"script\">\n        <p><strong>[0-3 seconds - HOOK]</strong><br>${data.reelScript.hook}</p>\n        <p><strong>[4-10 seconds - PROBLEM]</strong><br>${data.reelScript.problem}</p>\n        <p><strong>[11-20 seconds - SOLUTION]</strong><br>${data.reelScript.solution}</p>\n        <p><strong>[21-27 seconds - PROOF]</strong><br>${data.reelScript.proof}</p>\n        <p><strong>[28-30 seconds - CTA]</strong><br>${data.reelScript.cta}</p>\n      </div>\n      \n      <h3>📸 FILMING INSTRUCTIONS</h3>\n      <div class=\"filming\">\n        <p><strong>Location:</strong> ${data.filming.location}</p>\n        <p><strong>Outfit:</strong> ${data.filming.outfit}</p>\n        <p><strong>Camera Setup:</strong> ${data.filming.camera}</p>\n        <p><strong>Lighting:</strong> ${data.filming.lighting}</p>\n        <p><strong>Props:</strong> ${data.filming.props}</p>\n        <p><strong>Time Needed:</strong> ${data.filming.estimatedTime}</p>\n      </div>\n      \n      <h3>📝 READY-TO-PASTE CAPTIONS</h3>\n      \n      <div class=\"caption\">\n        <p><strong>FACEBOOK/INSTAGRAM:</strong></p>\n        <p>${data.captions.facebook.replace(/\\n/g, '<br>')}</p>\n      </div>\n      \n      <div class=\"caption\">\n        <p><strong>TIKTOK:</strong></p>\n        <p>${data.captions.tiktok}</p>\n      </div>\n      \n      <div class=\"caption\">\n        <p><strong>LINKEDIN:</strong></p>\n        <p>${data.captions.linkedin.replace(/\\n/g, '<br>')}</p>\n      </div>\n      \n      <div class=\"checklist\">\n        <h3>✅ YOUR CHECKLIST (15 MINUTES TOTAL)</h3>\n        <p>☐ Read script 2-3 times (2 min)</p>\n        <p>☐ Set up camera + lighting (3 min)</p>\n        <p>☐ Film 2-3 takes (5 min)</p>\n        <p>☐ Edit in CapCut - add text overlays (3 min)</p>\n        <p>☐ Post to all platforms (2 min)</p>\n        <p><strong>DONE! ✅</strong></p>\n      </div>\n    </div>\n    <hr style=\"margin: 40px 0; border: none; border-top: 2px dashed #ddd;\">\n  `;\n});\n\nemailHTML += `\n    <div style=\"text-align: center; margin-top: 40px;\">\n      <h2>🎬 TOO BUSY TO FILM?</h2>\n      <p>Reply with \"CREATE WITH HEYGEN\" and your AI avatar will film this automatically!</p>\n      <p><em>(Available in Phase 3)</em></p>\n    </div>\n    \n    <div style=\"background: #f8f9fa; padding: 20px; border-radius: 8px; margin-top: 30px;\">\n      <h3>📊 YESTERDAY'S PERFORMANCE</h3>\n      <p><em>Performance tracking coming in Phase 2</em></p>\n      <p>Keep posting daily and track manually for now!</p>\n      \n      <h3>🎯 THIS WEEK'S GOAL</h3>\n      <p>Create 3-5 Reels this week to establish posting consistency</p>\n      <p>Start building content momentum for SEO rankings</p>\n    </div>\n    \n    <div style=\"text-align: center; margin-top: 40px;\">\n      <p><strong>Let's crush it today! 💪</strong></p>\n      <p><em>- Your N8N Viral Content Machine</em></p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [\n  {\n    json: {\n      subject: `🎯 YOUR VIRAL CONTENT FOR TODAY - ${items[0].json.originalTopic}`,\n      html: emailHTML,\n      text: `Your Viral Content Machine has generated ${items.length} trending opportunities for today. Check your email for full details!`,\n      topicsCount: items.length\n    }\n  }\n];"
      },
      "name": "Email Formatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 350],
      "notesInFlow": true,
      "notes": "Formats everything into beautiful HTML email"
    },
    {
      "parameters": {
        "sendTo": "your-email@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}"
      },
      "name": "Send Email via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1450, 350],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail OAuth2 account"
        }
      },
      "notesInFlow": true,
      "notes": "Sends formatted email to your inbox at 8:30 AM"
    }
  ],
  "connections": {
    "Daily Trigger - 8 AM CST": {
      "main": [
        [
          {
            "node": "Reddit Entrepreneur Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit Small Business Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Entrepreneur Magazine Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tulsa Business News Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Entrepreneur Feed": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Small Business Feed": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Entrepreneur Magazine Feed": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Tulsa Business News Feed": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge All Feeds": {
      "main": [
        [
          {
            "node": "AI Content Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Analyzer": {
      "main": [
        [
          {
            "node": "Reel Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reel Script Generator": {
      "main": [
        [
          {
            "node": "Email Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Formatter": {
      "main": [
        [
          {
            "node": "Send Email via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "1"
}
